body{
    background-color: rgb(20, 53, 145);
    color: white;
}

/* Área de texto */
.textArea {
  width: 80%;
  max-width: 600px;
  height: 150px;
  margin-top: 30px;
  padding: 15px;
  font-size: 18px;
  border-radius: 15px;
  border: none;
  resize: none; /* impede redimensionamento manual */
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  outline: none;
  transition: all 0.3s;
}

/* Efeito quando focado */
.textArea:focus {
  box-shadow: 0 0 20px #007BFF;
}
.textArea {
  width: 80%;
  max-width: 600px;
  height: 150px;
  padding: 15px;
  font-size: 18px;
  border-radius: 15px;
  border: none;
  resize: none;
  box-shadow: 0 5px 15px
}